<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	  
	<display-name></display-name>

<!-- 
	<welcome-file-list>
		<welcome-file>/WEB-INF/content/service_introduction.jsp</welcome-file>
	</welcome-file-list>
	   -->	  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext*.xml</param-value>
	</context-param>
	   
	
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	 
	  <listener>
		<listener-class>com.jjweb.util.SessionCounterListener</listener-class>
	</listener>
	<!--
	 -->
	<filter>   
  		<filter-name>SetvIpFilter</filter-name>   
 		<filter-class>com.jjweb.util.SetvIpFilter</filter-class>   
   	</filter>  
  	<filter-mapping>   
   		<filter-name>SetvIpFilter</filter-name>  
 		<url-pattern>/*</url-pattern>  
 	</filter-mapping>
	
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	  
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	   
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	  
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 
	
	
	
	
	
</web-app>