<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="personalIntroductionAction" class="com.jweb.action.PersonalIntroductionAction">
		<property name="personalIntroductionService" ref="personalIntroductionService"></property>

	</bean>
	<bean id="personalIntroductionService" class="com.jweb.service.PersonalIntroductionServiceImpl">
				<property name="personalIntroductionDao" ref="personalIntroductionDao"></property>
	</bean>
	<bean id="personalIntroductionDao" class="com.jweb.dao.PersonalIntroductionDaoImpl">
				<property name="personalIntroduction" ref="personalIntroduction"></property>
	</bean>
	<bean id="personalIntroduction" class="com.jweb.model.PersonalIntroduction">
	</bean>
	
	
	
	<bean id="articalAction" class="com.jweb.action.ArticalAction">
		<property name="articalService" ref="articalService"></property>
	</bean>
	
	<bean id="articalService" class="com.jweb.service.ArticalServiceImpl">
		<property name="articalDao" ref="articalDao"></property>
	</bean>
	
	<bean id="articalDao" class="com.jweb.dao.ArticalDaoImpl">
		<property name="artical" ref="artical"></property>
	</bean>
	
	<bean id="artical" class="com.jweb.model.Artical">
	</bean>
	
	
	
	
	<!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->

	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> 
		</bean> -->

	<!-- more bean definitions go here -->

</beans>