<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="personalIntroduction" class="com.jweb.action.PersonalIntroduction">

		<!-- collaborators and configuration for this bean go here -->
	</bean>


	<bean id="pesonalIntroductionAction" class="com.jweb.action.PersonalIntroductionAction">
		<!-- collaborators and configuration for this bean go here -->
	</bean>
	<!-- more bean definitions go here -->

</beans>